<% provide(:title, 'Sobre') %>
<h1>Sobre</h1>
<p>Este é um projeto que surgiu em meados de 2008 com o objetivo de agrupar e organizar as diversas vagas de trabalho
	oferecidas aos brasileiros residentes no Japão.</p>
<p>Possibilita à empresas publicarem diretamente anúncios de empregos.</p>
