<div class="center hero-unit">
<h1>Bem vindo ao ShigotoDoko</h1>
<h2>A sua referência de empregos no Japão</h2>
<%= link_to "Cadastre-se agora!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag('rails.png', alt: "Rails"), 'http://rubyonrails.org/' %>
