<% provide(:title, "Todos usuários") %>
<h1>Todos usuários</h1>
<div class="row">
  <div class="span12">
    <%= will_paginate %>
    <ul class="users">
      <%= render @users %>
    </ul>
    <%= will_paginate %>
  </div>
</div>