<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span12">
    <section>
      <h1>
        <%= gravatar_for @user, size: "100x100" %>
        <%= @user.name %>
      </h1>
      <p>Membro desde: <%= @user.created_at.strftime('%d/%m/%Y') %></p>
    </section>

    <% if @user.role == 'publisher' %>

      <%= render 'show_publisher', collection: @user %>

    <% end %>

  </aside>
</div>
