<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span12">
    <section>
      <h1>
        <%= gravatar_for @user, size: "100x40" %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
