<% @title = 'Agências Hello Work' %>
<% provide(:title, @title) %>
<div class='row'>
  <div class='span9'>
    <div class='page-header'>
      <h1>Agências Hello Work</h1>
      <h2>Saiba o que é</h2>
      <%= render 'about_hello_work' %>
    </div>
  </div>
  <div class='span3'>
    <ul class='provinces-list'>
      <div class='page-header'>
        <h4>Onde encontrar na sua província:</h4>
      </div>
      <% @prefectures.each do |prefecture| %>
      <li><%= link_to prefecture.name, hello_work_list_agencies_path(prefecture.name.downcase) %></li>
      <% end %>
    </ul>
  </div>
</div>