<p>Empresas criadas com a finalidade de terceirizar trabalhadores.</p>
<p>São responsáveis por contratar e gerenciar toda a mão-de-obra necessária para indústrias de pequeno, médio e grande porte, cuidando de toda a parte burocrática.</p>
<p>A maioria presta serviços como auxílio em traduções de documentos, disponibiliza também intérpretes para realizar traduções em hospitais, prefeituras, entre outros órgãos do governo. Algumas podem até auxiliar com a mudança do trabalhador, caso seja necessário.</p>
<p>Grande parte dos dekasseguis trabalham por meio de empreiteiras, onde são contratados para ganhar um determinado valor por hora, podendo este ser elevado depois de determinado período de tempo, dependendo do contrato firmado entre ambas as partes.</p>
<p>Vale ressaltar a importância de se escolher uma boa empreiteira, para que em casos de demissão, acidentes ocorridos no trabalho, entre outras circustâncias, o trabalhador não seja prejudicado.</p>
<p>Procure por recomendações de amigos e parentes.</p> 
<hr />
<p>No menu à direita, disponibilizamos algumas empreiteiras e as organizamos por província de atuação.</p>