<% @title = 'Empreiteiras no Japão' %>
<% provide(:title, @title) %>
<% provide(:description, @title) %>
<% provide(:keywords, @title) %>
<div class='row'>
  <div class='span9'>
    <div class='page-header'>
      <h1><%= @title %></h1>
      <h2>O que são e o que fazem</h2>
      <%= render 'about_contractors' %>
    </div>
  </div>
  <div class='span3'>
    <ul class='provinces-list'>
      <div class='page-header'>
        <h3>Onde encontrar na sua província:</h3>
      </div>
      <% @prefectures.each do |prefecture| %>
      <li><%= link_to prefecture.name, list_companies_path(prefecture.name.downcase) %></li>
      <% end %>
    </ul>
  </div>
</div>