<% provide(:title, 'Empregos no Japão') %>
<% provide(:description, "Anúncios de empregos no Japão para latino-americanos residentes no país ou não residentes que possuem interesse em trabalhar no Japão. ") %>
<% provide(:keywords, "empregos no japao, trabalho no japão, enpregos, emprego no japão, emprego japão, japão empregos, empregos no japão, japão trabalho, trabalho no japão, empregos no jp, trabalhar japão, trabalhar no japão, classificados no japão, serviço no japão, vagas no japão, serviços no japão, trabalho no japão para brasileiros, trabalhe no japão, empregos no japão #{Time.now.strftime('%Y')}, anuncios no japao, empregos") %>
<div class='row'>
<%= render 'posts' %>
</div>