<% provide(:title, 'Empregos no Japão') %>
  <ul id='posts'>
  <% @posts.each do |post| %>
  <li>
    <h2><%= link_to post.title, post_path(post) %></h2>
    <p class='location'><%= post.location %></p>
    <p class='tags'>Tags: 
      <% post.tags.split(',').each do |tag| %>
        <%= link_to tag, tags_filter_post_path(tag) %>
      <% end %>
    </p>
  </li>
  <% end %>
  </ul>