<h1>Seu anúncio foi enviado com sucesso.</h1>

<h2>Saiba mais:</h2>

<ul>
  <li>Nossa equipe é notificada sobre a existência de um novo anúncio</li>
  <li>Seu anúncio será analisado conforme a disponibilidade da nossa equipe</li>
  <li>Caso as informações tenham sido preenchidas corretamente, seu anúncio é publicado</li>
  <li>O anúncio ficará ativo pelo período de 3 meses</li>
</ul>

<p><%= link_to('Retornar à página inicial', root_path) %></p>
