<% title = "Vagas em #{params[:tags].capitalize}" %>
<% provide(:title, "#{title}") %>

<% if @posts.any? %>
<h3><%= title %></h3>
<hr>
<div class='row'>
<%= render 'posts' %>
</div>
<% else %>
  <h3>Nenhum resultado encontrado para <%= params[:tags] %></h3>
<% end %>

<p><%= link_to '← Retornar à página principal de anúncios', posts_path %></p>
