<p>Olá <%= @resource.email %>!</p>

<p>Alguém (possivelmente você) solicitou um link para mudar sua senha, e você pode fazer isso clicando no link abaixo.</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não realizou esta solicitação, por favor ignore este email.</p>
<p>Sua senha não será alterada até que você acesse o link acima e defina uma nova.</p>
