<footer class="footer">
  <small>
    <a href="http://shigotodoko.com/">ShigotoDoko</a>
    by Kleber Shimabuku
  </small>
  <nav>
    <ul>
      <li><%= link_to "Sobre", sobre_path %></li>
      <li><%= link_to "Contato", contato_path %></li>
      <li><a href="http://blog.shigotodoko.com/">Blog</a></li>
    </ul>
  </nav>
</footer>
