<footer class="footer">
  <p>
    Parceiro: <%= link_to "Batata.jp", 'http://batata.jp/', target: '_blank' %>
  </p>
  <small>
    <h4>ShigotoDoko</h4>
    - A sua referência de empregos no Japão!
  </small>
  <nav>
    <ul>
      <li><%= link_to "Sobre", sobre_path %></li>
      <li><%= link_to "Ajuda", ajuda_path %></li>
      <li><%= link_to "Contato", contato_path %></li>
    </ul>
  </nav>
</footer>
